body {
    background-image: url(thaifood.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 0;
  }
  h2, p, ul, li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  h1 {
      font-family: fantasy;
      color:#FFF;
      text-align: center;
      font-size:5em;
      border: #FFF;
      background-color: black;
      border-radius: 9px;
      border-style: ridge;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
    border: 9px;
    border-radius: 9px;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    
  }
  .content {
    background-color: #FFF;
    padding: 20px;
    border: 5px;
    border-radius: 9px;
    border-style: groove;
    border-color: rgb(22, 167, 70);
  }

 
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }

  .active {
    background-color: #990c0c;
    border-radius: 9px;
  }

    ul {
      border-radius: 9px;
      border: 1px;
      border-style: solid;
      border-color:black;
      padding: 20px;
  }

  blockquote {
    background: rgb(22, 167, 70);
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    border-radius: 9px;
    font-style:italic;
  }

  table {
      border-radius:9px;
  }